* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #111827;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

button:hover {
  background: #1d4ed8;
}

#mensagem {
  margin-top: 20px;
  font-weight: bold;
}

.galeria {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.galeria img {
  width: 300px;
  height: 220px;
  object-fit: cover;
  border-radius: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.galeria img:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 40px;
  background: #111827;
  color: white;
}